:root{
    --grey-400:#9ca3af;
    --grey-600:#4b5563;
    --grey-200:#e5e7eb;
    --grey-300:#d1d5db;
}
body{
    background-image: url('./images/background.jpeg');
}
.border-grey-400{
    border-color: var(--grey-400);
}
.bg-grey-400{
    background-color: var(--grey-400);
}
.text-grey-400{
    color: var(--grey-400);
}
.text-grey-600{
    color: var(--grey-600);
}
.placeholder-gray-400{
    color: var(--grey-400);
}
.text-grey-200{
    color: var(--grey-200);
}
.bg-grey-200{
    background-color: var(--grey-200);
}
.border-grey-200{
    border-color: var(--grey-200);
}
.border-grey-300{
    border-color: var(--grey-300);
}